# Secret file
.env

# Built files
/_build
/deps
.DS_Store
erl_crash.dump
yarn.lock
docker-compose.override.yml

/assets/.nuxt
/assets/node_modules
/assets/static/robots.txt

/db/dumps/*.dump
/db/pgadmin
/db/data

/priv/static/*
/priv/fixtures/
/priv/mnesia/*
/priv/tabs/*.tab
/priv/rncp*.xml

!/**/.gitkeep
/.elixir_ls/
/.tool-versions
