# Secret file
.env

# Built files
/_build
/deps
.DS_Store
erl_crash.dump
docker-compose.override.yml

/assets/.nuxt
/assets/node_modules
/assets/static/robots.txt

/db/dumps/*.dump
/db/pgadmin
/db/data

/priv/static/*
/priv/fixtures/
/priv/mnesia/*
/priv/tabs/*.tab
/priv/rncp*.xml
/priv/*.log
/priv/*.csv

!/**/.gitkeep
/.elixir_ls/
/.tool-versions

# swap
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
