.bg-default {
  background-color: white;
  color: #3a3a3a;
}

.bg-light {
  background-color: $gray-light;
  color: #fff;
  a {
    color: #fff;
  }
}

// .bg-primary {
//   background-color: $brand-primary;
//   color: #fff;
//   // a {
//   //   color: #fff;
//   // }
// }

// .bg-secondary {
//   background-color: $brand-secondary;
//   color: $white;
//   // & > * {
//   //   color: $white;
//   // }
//   // a {
//   //   color: theme-color('info');
//   // }
// }

.bg-img {
  margin: 0;
  padding: 0;
  background-position: center top;
  background-size: cover;
}

.bg-home {
  background-color: #194065;
  background-image: url("/images/home_cover.jpg");
}

.bg-header-default {
  background-image: url("/images/default_cover.jpg");
}

.bg-laurel {
  background: no-repeat url("/images/laurel.svg");
  background-position: center;
  background-size: contain;
}

.bg-best-way {
  background: no-repeat url("/images/best-way.svg");
  background-position: center;
  background-size: contain;
}

.bg-light-grey {
  background-color: $dm-primary-light-grey;
}
