
footer {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $dm-primary-grey;

  img.logo {
    height: 40px;
  }

  @media print {
    .container {
      justify-content: center;
    }
    .dm-nav {
      display: none;
    }
    img.logo {
      margin-top: 3rem;
      height: 60px;
    }
  }
}