.avril-color-green {
  color: theme-color('primary');
}

.screen-accessibility-helper {

  position: absolute;
  top: -1000em;
  background: #2E5266;
  color: #fff;

  &:focus {
    left: 6px;
    top: 25px;
    height: auto;
    width: auto;
    display: block;
    font-weight: 600;
    padding: 15px 23px 14px;
    z-index: 100000;
    line-height: normal;
    text-decoration: none;
    outline: 1px solid #4D90FE;
    -webkit-box-shadow: 0px 0px 5px  #4D90FE;
    box-shadow: 0px 0px 5px  #4D90FE;
  }

}

// .text-white {
//   color: $dm-primary-blue !important;
// }
// ----------------------------------
// positionnement
// ----------------------------------
.top-0 {
  top: 0 !important;
}
.bottom-0 {
  bottom: 0 !important;
}
.right-0 {
  right: 0 !important;
}
.left-0 {
  left: 0 !important;
}

// ----------------------------------
// Various
// ----------------------------------
.overflow-hidden {
  overflow: hidden;
}
.w-45 {
    width: 45% !important;
}
