.delegate {
  .delegate-details > li {
    i {
      color: $teal;
    }
    color: $gray;
    padding: 0 10px;
    a {
      color: darken($gray, 10%);
      font-weight: bold;
      &::before {
        color: $teal;
      }
    }
  }

  .steps {
    counter-reset: h3;
    h3:before {
      content: counter(h3) ".\0000a0\0000a0";
      counter-increment: h3;
    }
  }

  .all-delegates {
    a:after {
      font-family: FontAwesome;
      content: "\f061";
      margin-left: 1rem;
    }
  }
}
