= link(to: Routes.auth_path(@conn, :save_session_and_redirect, :"pole-emploi"), class: "button is-medium is-pe-connect is-white", data: [analytics: "Profil#peconnect"]) do
  = img_tag("/images/icon-pe-connect-is-blue.svg", class: "icon-pe-connect", width: 34, height: 31)
  span.text
    span Me connecter avec Pôle emploi