.home-page {
  #search {
    h1 {
      font-size: 3.5rem;
      margin-bottom: 1rem;
      @include mobile {
        font-size: 2.5rem;
      }
    }
    img.search-img {
      z-index: 1;
      position: relative;

      @include widescreen {
        float: right;
        height: 13rem;
        transform-origin: right;
        transform: scale(2.7) translateX(1rem) translateY(3rem);
      }
      @include fullhd {
        transform: scale(3) translateX(1rem) translateY(3rem);
      }
    }
  }
}