.home-page {
  #search {
    h1 {
      font-size: 3.5rem;
      margin-bottom: 1rem;
      @include mobile {
        font-size: 2.5rem;
      }
    }
    img.search-img {
      z-index: 1;
      position: absolute;
      bottom: -4.25rem;
      max-width: none;
      height: 29rem;
      left: -2rem;
      @include fullhd {
        height: 32rem;
      }
    }
  }
}