.pow-page {
  &.section {
    padding-bottom: 0;
  }
  .field {
    margin-bottom: 2rem;
  }
  img.couple {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: -1;
    top: 8px;
  }
}

.register-page {
  .features {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    @include tablet {
      min-height: 600px;
    }
    ul.feature-checklist {
      list-style: none;
      font-weight: bold;
      text-align: left;
      font-size: 1.5rem;
      max-width: 400px;
      z-index: 1;
      li {
        padding: 0.5rem;
        &:before {
          content: '✓';
          padding-right: 0.5rem;
        }
      }
    }
  }
}