.register-page {
  ul.feature-checklist {
    display: inline-block;
    list-style: none;
    font-weight: bold;
    text-align: left;
    li {
      padding: 0.5rem;
      &:before {
        content: '✓';
        padding-right: 0.5rem;
      }
    }
  }
}