@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/bulma";

@import 'variables';
@import 'functions';

@import 'components/buttons';
@import 'components/form';
@import 'components/layouts';
@import 'components/layout-form';
@import 'components/layout-help';
@import 'components/reset';
@import 'components/stepper';
@import 'components/swiper';
@import 'components/tabs';
@import 'components/transition';
@import 'components/progressbar';

html,body{
  background: avril-color('gray');
}
svg{
  width: 20px;
}
.steps.is-hollow .is-active .steps-marker, .steps .is-active .steps-marker.is-hollow {
    border-color: avril-color('blue');
    background: avril-color('blue');
}
span.box{
  margin-bottom: 10px;
}
hr {
  background-color: #f5f5f5;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
}
