.input, .textarea{
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  background-color: #FAFAFA !important;
  border: 1px solid transparent;
  border-color: #E7E8EB !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  line-height: 1.5;
  padding-bottom: calc(1.5em - 1px) !important;
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(1.5em - 1px) !important;
  position: relative;
  vertical-align: top;
  color: avril-color('blue') !important;
  font-size: 22px !important;
  &:focus{
    box-shadow: 0 0 0 2px avril-color('blue') !important;
  }
}
.field{
  margin-bottom: 3rem !important;
}

.natural-language {
  .mx-input{
    border: none;
    border-bottom: 2px solid avril-color('blue');
    box-shadow: none;
    border-radius: 0;
    font-size: 18px;
    font-weight: 600;
    color: avril-color('blue');
    &::placeholder{
      font-size: 16px;
      font-weight: 400;
    }
  }
  .input.heure{
    height: 41px;
    padding: 0 0 0 17px !important;
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
    width: 60px;
    font-size: 20px !important;
    padding-left: 40px;
    border-bottom: 2px solid avril-color('blue') !important;
    border-radius: 0 !important;
    font-weight: 600 !important;
  }
  .title{
    line-height: 47px !important;
    font-weight: 400 !important;
  }
  .select {
    margin-right: 1em;
    select{
      border: none;
      font-weight: 600;
      font-size: 18px;
    }
    &:not(.is-multiple) {
        height: 3em;
    }
    &:not(.is-multiple):not(.is-loading)::after{
      border: 3px solid #58585a;
      border-right: 0;
      border-top: 0;
      margin-top: -11px;
      height: .7em;
      width: .7em;
      right: 0.4em;
    }
    &.time{
      width: 160px;
    }
    &.years{
      width: 120px;
    }
    &.hours{
      width: 140px;
    }
    &.semaines{
      width: 140px;
    }
  }
}
