//layout général
.avril{
  &-back{
    svg{
      width: 10px;
    }
  }
  &-form-header{
    flex: 1;
    flex-grow: 2;
    flex-direction: column;
  }
  &-navigation{
    z-index: 88;
  }
  &-default{
    height: 100vh;
    width: 100%;
    display: flex;
    background: avril-color('marine');
    color: #fff;
    flex-direction: row;
    text-align: center;
    label{
      color: #fff !important;
    }
    .control{
      text-align: center !important;
    }
    .title{
      color: #fff !important;
    }

  }
}

.real,.avril{

  // --------------------------
  // Navigation
  // --------------------------
  &-navigation{
    flex: 1;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
  }

  // --------------------------
  // Content
  // --------------------------
  &-layout{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }
  &-content{
    flex: 1;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 44px rgba(0, 22, 60, .12);
    overflow-y: auto;
  }
  &-form-help-container{
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
  }
  &-form{
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
  }
  &-help{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
  }
}
