.form{
  display: flex;
  flex-direction: row;
  &-header {
    z-index: 99;
    padding: 1rem;
    padding-bottom: 7vh;
    .title{
      padding: 0 4rem;
    }
  }
  &-fields{
    padding: 0 5rem;
    flex: 1;
    display: flex;
    flex-grow: 1.6;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  &-help{
    flex: 1;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: avril-color('gray');
    margin-right: 5rem;
    border-radius: 6px;
    margin-bottom: 4rem;
    padding: 2rem;
    &-content{
      // padding: 5rem;
    }
  }
}
