.avril{
  &-navigation{
    display: flex;
    flex-direction: column;
  }
  &-tabs{
    flex: 1;
  }
}
.navigation{
  &-header{
    padding-top: 3rem;
  }
  &-tabs {
    padding: 2rem 0;
    margin-top: 2rem;
  }
  &-tab{
    display: block;
    background: avril-color('gray-dark');
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-bottom: 10px;
    color: avril-color('marine');
    padding: 2rem;
    position: relative;
    transition: all .13s ease-in-out;
    .title{
      margin-bottom: 0;
    }
    &:hover{
      background: darken(avril-color('gray-dark'), 3%);
    }
  }
  &-title{
    margin-bottom: .4rem !important;
  }
  &-subtitle{
    font-weight: 400;
  }
}
.navigation{
  &-active{
    // height: 300px;
    background: avril-color('marine');
    color: #fff !important;
    .title{
      color: #fff !important;
    }
    &:hover{
      color: #fff !important;
      background: darken(avril-color('marine'), 3%);
    }
  }
  &-indicator{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: avril-color('blue');
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 12px;
    left: -20px;
  }
  &-locked{
    position: absolute;
    right: 2rem;
    top: 1rem;
    svg{
      fill: avril-color('marine');
    }
  }
}
