$white: white;
$light-gray: #f5f9fb;
$black: #46484e;

$green: #a2fed5;
$yellow: #ffffa5;
$blue: #c7eeff;
$dark-blue: #18495e;

$primary: $green;

$scheme-main: $light-gray;
// $background: $light-gray;
$navbar-background-color: transparent;
