html.html_error_page {
  height: 100%;
}

body.error_page {
  background-image: url("/images/pattern@2x.png");

  main, .container {
    height: 100%;
  }

  .navbar {
    position: unset;
  }

  p { font-size: 1.5rem; }

  .error_code p {
    font-size: 15rem;
    font-weight: 300;
    line-height: 1.1;
    color: $brand-primary;
  }
}
