.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 330px;
}

.dropdown-toggle {
  &.btn.btn-link {
    font-size: 20px;
  }

  &:after {
    content: "\ea0c";
    font-family: "avril";
    font-size: 14px;
    border: none;
    height: inherit;
    width: auto;
    vertical-align: 0;
    margin-left: 1rem;
  }
}

.dropdown-menu {
  border-radius: 0;
}
