.navbar.dm-navbar {
  li.nav-item {
    @include media-breakpoint-up(md) {
      margin-left: 2rem;
    }
  }
}

@media print {
  .sticky-top {
    display: block;
    top: -10rem;
    width: 100%;
    position: absolute;
    .navbar {
      display: block;
    }
    .navbar-brand {
      position: absolute;
      top: 6rem;
      left: 0;
      right: 0;
      margin: auto;
      img {
        margin: auto;
        display: block;
      }
    }
  }
  .content {
    margin-top: 5rem;
  }

  @page {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

nav.navbar.dm-navbar {
  border: none;
  padding: 1rem;
  background-color: $white;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.17);

  .navbar-toggler {
    font: normal 18px/30px $dm-font-lato;
    color: $dm-primary-blue;
    &:before {
      content: "\ea0b";
      font: normal 16px/24px avril;
      font-weight: normal;
      font-style: normal;
      margin-right: 0.5rem;
    }
    &.collapsed:before {
      content: "\ea08";
      font: normal 16px/24px avril;
      font-weight: normal;
      font-style: normal;
      margin-right: 0.5rem;
    }
  }
  .navbar-brand {
    img.logo {
      @include media-breakpoint-down(sm) {
        height: 40px;
      }
    }
    img.beta {
      margin-left: 10px;
      @include media-breakpoint-down(sm) {
        height: 18px;
      }
    }
  }
}

ul.nav.dm-nav, ul.navbar-nav {
  & > li.nav-item > a.nav-link {
    display: inline-block;
    color: $dm-primary-blue;
    font: normal 18px/30px $dm-font-lato;
    border-bottom: 3px solid transparent;
    &:not(.disabled) {
      &:hover {
        border-bottom-color: $dm-primary-green;
      }
      &.active {
        font-weight: bold;
      }
    }
    &.disabled {
      color: $dm-primary-grey;
      cursor: not-allowed;
      pointer-events: none;
    }
    &:not(.dropdown-toggle):after {
      content: none;
    }
  }
  .dropdown-menu {
    .dropdown-item {
      &.active, &:focus, &:active {
        font-weight: bold;
        background-color: transparent;
        color: initial;
      }
    }
  }
}

li.nav-item > a.nav-link[href^='mailto:']:before {
  content: none;
}

//TODO: find used where ?

/* Breadcrumb */
.breadcrumb {
  padding: 0;
  background-color: white;
}

.breadcrumb .breadcrumb-item::before {
  color: $gray;
}

.cookies.alert.alert-warning {
  border: 1px solid #EFEF97;
  background: no-repeat #FFFFD5 top right url("/images/cookie.jpg");
  color: #2E5266;
  @include media-breakpoint-up(md) {
    line-height: 36px;
  }

  @media print {
    display: none;
  }
}
