.card.selector-card {
  background: $white;
  border-radius: $radius;

  &.delegate-card {
    .card-header {
      min-height: 0;
      h4 {
        font-size: 1.5rem;
      }
    }
    .card-content {
      height: auto;
    }
  }

  .card-header {
    min-height: 6rem;
    padding: 1rem 1.5rem;
    box-shadow: none;
    display: block;

    .title, .description {
      color: palette(default, title);
    }
  }

  .card-content {
    height: 15rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .card-footer {
    padding: 1rem 1.5rem;
    border: none;
  }
}