#certification_finder {
  .wrapper {
    position: relative;

    .icon {
      position: absolute;
      z-index: 1;
      top: 2rem;
      bottom: 0;
      left: 1rem;
      width: 2rem;
      margin: auto;
    }

    label {
      transition: all 0.2s $easing;
      position: absolute;
      top: 0;
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      line-height: 1rem;
    }
    .twitter-typeahead {
      width: 100%;
      input.searchbar {
        width: 100%;
        margin-top: 2rem;
        padding-left: 4rem;

        &:not(:focus) {
          color: transparent;
          &::placeholder {
            color: transparent;
          }
        }
      }
      &:not(.is-focused) + label {
        line-height: 5rem;
        top: 2rem;
        padding-left: 4rem;
        margin-bottom: 0;
        font-size: 1.2em;
        color: $gray-avril;
        @include tablet {
          font-size: 1em;
        }
        @include desktop {
          font-size: 0.8em;
        }
        @include widescreen {
          font-size: 1em;
        }
        @include fullhd {
          font-size: 1.25em;
        }
      }
    }
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

// .avril-input, .avril-hint, .twitter-typeahead {
//   width: 100%;
// }
.avril-hint {
  color: #999;
}
.avril-dropdown-menu {
  @extend .is-default;
  width: 100%;
  border: 1px solid $border;
  border-top: none;
  .title {
    padding: 0.5rem 1rem;
    margin: 0;
  }
  .avril-cursor {
    background-color: palette(blue, background);
  }
  .avril-pending, .avril-empty {
    padding: 0.5rem 1rem;
  }
  .avril-selectable {
    // cursor: pointer;
    a {
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
      text-decoration: none !important;
      display: block;
    }
  }
}
