.ap-input, .ap-hint {
  height: inherit;
}

.ap-hint {
  opacity: .3 !important;
}

.ap-input-icon.ap-icon-pin {
  display: none;
}

.ap-suggestion {
  > em {
    font-size: inherit;
  }

  .administrative {
    font-size: 12px;
  }
}
