.algolia-places {
  .ap-input {
    height: inherit;
  }

  .ap-input-icon.ap-icon-pin {
    display: none;
  }

  .ap-dataset-places {
    em {
      @extend mark;
      font-size: inherit;
      font-style: normal;
      font-weight: normal;
    }

    .administrative {
      font-size: 12px;
    }
  }
}
