.avril-color-green {
  color: theme-color('primary');
}

.screen-accessibility-helper {

  position: absolute;
  top: -1000em;
  background: #2E5266;
  color: #fff;

  &:focus {
    left: 6px;
    top: 25px;
    height: auto;
    width: auto;
    display: block;
    font-weight: 600;
    padding: 15px 23px 14px;
    z-index: 100000;
    line-height: normal;
    text-decoration: none;
    outline: 0;
    outline:none;
    border:1px solid #4D90FE;
    -webkit-box-shadow: 0px 0px 5px  #4D90FE;
    box-shadow: 0px 0px 5px  #4D90FE;
  }

}

.text-white {
  color: $dm-primary-blue !important;
}
