.results-count {
  margin: 2rem 0;
  color: $gray;
  font-size: 1rem;
}

.results-container {
  .results-count {
    h2 small {
      font-size: 80%;
      color: $teal;
    }
  }
  .results {

    .result-item {
      h3 {
        font-size: 1.2rem;
        a.main-link {
          color: $gray;
          font-weight: bold;
        }
        small {
          font-size: 80%;
          color: $teal;
        }

      }
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid lightgray;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  ul.pagination {
    justify-content: center !important;
    .page-item.active .page-link {
      z-index: 2;
      color: #fff;
      background-color: $teal;
      border-color: darken($teal, 10%);
    }
    .page-item .page-link {
      color: $teal;
    }
  }

}
