.wizard {
  margin-bottom: 3rem;
  $disabled-color: #CECECE;
  .wizard-step {
    position: relative;
    padding: 0;
    .wizard-dot {
      $dot-size: 50px;
      position: absolute;
      width: $dot-size;
      height: $dot-size;
      display: block;
      background-color: $teal;
      top: 35%; left: 50%;
      margin-top: - $dot-size / 2;
      margin-left: - $dot-size / 2;
      border-radius: 50%;
      .wizard-content {
        font-size: 1.75rem;
        width: 38px;
        height: 38px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 6px;
        left: 6px;
        color: $teal;
      }
    }
    .progress {
      @include media-breakpoint-down(md) {
        background-color: transparent !important;
      }
      position: relative;
      border-radius: 0px;
      height: 5px;
      box-shadow: none;
      margin: 55px 0;
      .progress-bar {
        @include media-breakpoint-down(md) {
          background-color: transparent !important;
        }
        width:0px;
        box-shadow: none;
        background-color: $teal;
      }
    }
    .wizard-text {
      font-weight: 300;
      font-size: 1rem !important;
    }

    &:first-child .progress {left: 50%; width: 50%;}
    &:last-child .progress {width: 50%;}
    &.complete {
      .wizard-dot:hover::after { background-color: lighten($teal, 30%);}
      .progress .progress-bar {width:100%;}
    }
    &.active {
      .wizard-dot:after { background-color: lighten($teal, 30%);}
      .progress .progress-bar {width:50%;}
      .wizard-text {font-weight: 900;}
    }
    &:first-child.active .progress .progress-bar {width:0%;}
    &:last-child.active .progress .progress-bar {width: 100%;}
    &.disabled {
      .wizard-dot {
        background-color: $disabled-color;
        pointer-events: none;
        &:after {
          opacity: 0;
        }
        .wizard-content {
          color: $disabled-color;
        }
      }
      .wizard-text {
        color: $disabled-color;
      }
    }
  }
}

body.home {
  .wizard {
    .wizard-step {
      @include media-breakpoint-down(sm) {
        padding: 0 1rem;
      }
      a {
        pointer-events: none !important;
        color: theme-color('secondary');
        cursor: default !important;
        text-decoration: none;
      }
      .progress {
        margin: 65px 0 !important;
        @include media-breakpoint-down(sm) {
          margin: 20px !important;
        }
      }
      .wizard-text {
        font-size: 1.25rem !important;
      }
    }
  }
}
