body {
  color: $dm-primary-blue;
  font: normal 18px/30px $dm-font-lato;
}

h1, h2, h3, h4, h5, h6, .dm-sub-title {
  color: $dm-primary-blue;
}

h1 {
  font: bold 48px/60px $dm-font-nuito;
  @include media-breakpoint-down(sm) {
    font: bold 30px/38px $dm-font-nuito;
  }
}

h2 {
  font: bold 36px/50px $dm-font-nuito;
  @include media-breakpoint-down(sm) {
    font: bold 24px/32px $dm-font-nuito;
  }
}

h3 {
  font: bold 30px/40px $dm-font-nuito;
  @include media-breakpoint-down(sm) {
    font: bold 24px/32px $dm-font-nuito;
  }
}

h4 {
  font: bold 24px/30px $dm-font-nuito;
}

h5 {
  font: bold 20px/25px $dm-font-nuito;
}

h6 {
  font: bold 18px/24px $dm-font-nuito;
}

.dm-sub-title {
  font: normal 26px/35px $dm-font-nuito;
  @include media-breakpoint-down(sm) {
    font: normal 20px/25px $dm-font-nuito;
  }
}

.dm-step {
  font: bold 64px/60px $dm-font-nuito;
  color: $dm-primary-green;
}

.dm-step-sub {
  vertical-align: top;
}
