.dm-logo {
  color: $dm-logo;
  font: 18px/30px $dm-font-lato;
}

mark {
  color: inherit;
  position: relative;
  padding: 0;
  text-decoration: none;
  background: linear-gradient(180deg, transparent calc(100% - 6px), $dm-primary-green calc(100% - 6px));
}

/* Delegator #show*/
$header-height: 5rem;

.step-title:before {
  display: block;
  content: " ";
  margin-top: -$header-height;
  height: $header-height;
  visibility: hidden;
}

.alert:empty {
  display: none;
}

.brand-icon {
  width: 2rem;
  height: 2rem;
  background-color: $brand-primary;
  fill: white;
  border-radius: 50%;
}

.autopromo {
  margin: 3rem;
  padding: 2rem;
  text-align: center;
  border: 1px solid $brand-primary;
  border-radius: 2px;
}

a[target="_blank"]:before,
a[href^="mailto:"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0.3rem;
}

a[href^="mailto:"]:before {
  content: "\f003";
}
/* Utils */
.no-border {
  border-style: none;
}

.line {
  height: 6px;
  width: 80%;
  margin-bottom: 0.5rem;
}

#steps {
  h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.dropdown-toggle.btn.btn-link {
  font-size: 20px;
}

.dropdown-menu {
  border-radius: 0;
}

.dropdown-toggle::after {
  content: "\ea0c";
  font-family: "avril";
  font-size: 14px;
  border: none;
  height: inherit;
  width: inherit;
  vertical-align: 0;
  margin-left: 1rem;
}
// illustration landing page "certificateur definition"
.illustration-grand-diplome {
  top: -3rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.bg-primary {
  .btn-link {
    border: none;
    cursor: pointer;
  }
}