header {
  .navbar-brand {
    img.logo {
      width: 120px;
    }
    margin-right: 0px;
    img.beta {
      position: absolute;
      width: 35px;
    }
  }

  &.header-home {
    h2 {
      a {
        &:hover {
          text-decoration: none;
        }
        span {
          color: white;
          &:hover {
            color: darken(white, 10%);
          }
          font-weight: bold;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      background: none;
      background-color: #194065;
      .input-group {
        .btn {
          padding: 0.8rem 1rem;
        }
      }
    }
  }

  &.header-default {
    padding-bottom: $header-margin !important;
    nav.navbar {
      background-color: transparent !important;
      border-bottom: none;
    }
    @include media-breakpoint-down(sm) {
      background-color: blue;
    }
    @include media-breakpoint-down(sm) {
      background: none;
      background-color: #194065;
      .input-group {
        .btn {
          padding: 0.8rem 1rem;
        }
      }
    }
  }
}

.big-number {
  .big-number-figure {
    font-size: 4rem;
    font-weight: bold;
    @include media-breakpoint-down(sm) {
      font-size: 2rem;
      margin-bottom: 1rem;
    } 
  }
  .big-number-details{
    font-size: 2rem;
    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    } 
  }
}

.how-to {
  margin-top: -4rem;
  .how-to-detail {
    color: $gray;
    p {
      font-size: 1.3rem;
      margin-top: 1rem;
    }
  }
  .fa-stack {
    .gradient-icon {
      background: linear-gradient(to left top, #b8ced8, darken(#b8ced8, 20%));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: initial;
    }
    .fa-stack-1x{
      color: white;
    }
    strong.fa-stack-1x {
      font-weight: bold;
    }
  }
}

.testimonials {
  .card-img-top {
    width: 5rem;
    height: 4rem;
  }
  .author {
    font-size: 1.25rem;
  }
}

.top-three {
  .col-md-4 {
    @include media-breakpoint-up(md) {
      text-align: center;
    }
    p {
      font-size: 22px;
      padding-left: 70px;
    }
  }
  .col-md-4:last-child {
    border-right: none;
  }
}

.what-is-it {
  ul {
    padding-left: 15px;
    padding-top: 0px;
    list-style-type: 🔔;
  }
}

.stats {
  p:first-child {
    font-size: 1.5rem;
  }
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.bg-home-spacer {
  padding: 2rem 1rem !important;
  @include media-breakpoint-down(md) {
    padding: 2rem 1rem 5rem !important;
  }
}
