@import "variables";

$fa-font-path: "../fonts";
@import "font-awesome";
@import "icons/nucleo.scss";

@import "bootstrap"; /* imports node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss */

/* Custom Stuff */
@import "custom";

/* components */
@import "components/backgrounds";
@import "components/navbar";
@import "components/results";
@import "components/badge";
@import "components/headings";
@import "components/steps";
@import "components/error_page";
@import "components/awesomplete";
@import "components/algolia_places";

/* page specific */
@import "home";
@import "delegate";

.percent {
  color: $dm-primary-purple;
  font: bold 104px/142px $dm-font-nuito;
  @include media-breakpoint-down(sm) {
    text-align: center;
    background: center / contain no-repeat url("/images/laurrier.svg");
    padding: 2rem;
    margin-bottom: 1rem;
  }
}

h1.dm-h1 {
  color: $dm-primary-blue;
  font: bold 48px/60px $dm-font-nuito;
  @include media-breakpoint-down(sm) {
    font: bold 30px/38px $dm-font-nuito;
  }
}

h2.dm-h2 {
  color: $dm-primary-blue;
  font: bold 36px/50px $dm-font-nuito;
  @include media-breakpoint-down(sm) {
    font: bold 24px/32px $dm-font-nuito;
  }
}

h3.dm-h3 {
  color: $dm-primary-blue;
  font: bold 30px/40px $dm-font-nuito;
  @include media-breakpoint-down(sm) {
    font: bold 24px/32px $dm-font-nuito;
  }
}

h4.dm-h4 {
  color: $dm-primary-blue;
  font: bold 24px/30px $dm-font-nuito;
}

h5.dm-h5 {
  color: $dm-primary-blue;
  font: bold 20px/25px $dm-font-nuito;
}

h6.dm-h6 {
  color: $dm-primary-blue;
  font: bold 18px/24px $dm-font-nuito;
}

p.dm-sub-title {
  color: $dm-primary-blue;
  font: normal 26px/35px $dm-font-nuito;
  @include media-breakpoint-down(sm) {
    font: normal 20px/25px $dm-font-nuito;
  }
}

p.dm-p, .dm-text {
  color: $dm-primary-blue;
  font: normal 18px/30px $dm-font-lato;
}

p.dm-logo {
  color: $dm-logo;
  font: 18px/30px $dm-font-lato;
}

.btn.btn-danger.dm-btn-danger {
	color: #FFFFFF;
	background-color: $dm-primary-red;
  font: bold 24px/32px $dm-font-nuito;
  padding: 12px 50px;
	text-align: center;
	border-radius: 38.5px;
	box-shadow: 0 8px 24px 0 rgba(250,56,119,0.38);
}

.purple-line {
  height: 6px;
  width: 80%;
  background-color: $dm-primary-purple;
  margin-bottom: 0.5rem;
}

.pink-line {
  height: 6px;
  width: 80%;
  background-color: $dm-primary-pink;
  margin-bottom: 0.5rem;
}

.green-line {
  height: 6px;
  width: 80%;
  background-color: $dm-primary-green;
  margin-bottom: 0.5rem;
}

p.dm-read-time {
  color: $dm-primary-blue;
  font: normal 16px/22px $dm-font-nuito;
}

form.dm-search-box {
  border: none;
  .input-group .form-control {
    border: none;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    min-height: 80px;
    @include media-breakpoint-up(md) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: 0 4px 4px 0 rgba(0,0,0,0.07);
      padding-left: 40px;
      padding-right: 40px;
    }
    @include media-breakpoint-down(sm) {
      box-shadow: 0 4px 4px 0 rgba(0,0,0,0.07);
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .btn {
    border: none;
    border-radius: 4px;
    @include media-breakpoint-up(md) {
      border: 1px solid #E0E0E0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;
      box-shadow: 0 4px 4px 0 rgba(0,0,0,0.07);
    }
    background-color: #FFFFFF;
    color: $dm-primary-blue;
    font-size: 40px;
  }
  input::placeholder, input {
    color: $dm-primary-blue;
    font: bold 18px/24px $dm-font-nuito;
  }
}

.laurrier {
  background: no-repeat url("/images/laurrier.svg");
  background-position: center;
  background-size: contain;
}

.best-way {
  background: no-repeat url("/images/best-way.svg");
  background-position: center;
  background-size: contain;
}

body.home {
  background-color: #FFFFFF;
}

.dm-bg-white {
  background-color: $dm-primary-white;
}

mark {
  color: inherit;
  background-color: inherit;
  border-bottom: 6px solid $dm-primary-green;
  padding-bottom: 1px;
}

.navbar.dm-navbar {
  li.nav-item {
    @include media-breakpoint-up(md) {
      margin-left: 2rem;
    }
  }
}

nav.navbar.dm-navbar {
  &.--not-top {
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.17);
  }
  border: none;
  padding: 1rem;
  .navbar-toggler {
    font: normal 18px/30px $dm-font-lato;
    color: $dm-primary-blue;
    &:before {
      content: "\ea0b";
      font: normal 16px/24px avril;
      font-weight: normal;
      font-style: normal;
      margin-right: 0.5rem;
    }
    &.collapsed:before {
      content: "\ea08";
      font: normal 16px/24px avril;
      font-weight: normal;
      font-style: normal;
      margin-right: 0.5rem;
    }
  }
  .navbar-brand {
    img {
      @include media-breakpoint-down(sm) {
        height: 40px;
      }
    }
  }
}

ul.nav.dm-nav, ul.navbar-nav {
  & > li.nav-item > a.nav-link {
    display: inline-block;
    color: $dm-primary-blue;
    font: normal 18px/30px $dm-font-lato;
    border-bottom: 3px solid transparent;
    &:not(.disabled) {
      &:hover {
        border-bottom-color: $dm-primary-green;
      }
      &.active {
        font-weight: bold;
      }
    }
    &.disabled {
      color: $dm-primary-grey;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

li.nav-item > a.nav-link[href^='mailto:']:before {
  content: none;
}

.card.dm-card {
	box-sizing: border-box;
	border: 1px solid #E0E0E0;
	border-radius: 8px;
	background-color: #FFFFFF;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.06);
}

.dm-testimonials {
  img {
    margin-bottom: 1rem;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
}

footer {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $dm-primary-grey;
  img.logo {
    height: 40px;
  }
}
