link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
link rel="stylesheet" href=Routes.static_path(@conn, "/vendor/ex_admin/admin_lte2.css")
link rel="stylesheet" href=Routes.static_path(@conn, "/vendor/simditor/simditor.css")
link rel="stylesheet" href=Routes.static_path(@conn, "/vendor/multiselect/multi-select.dist.css")
link rel="stylesheet" href=Routes.static_path(@conn, "/css/admin.css")

script type="text/javascript" src=Routes.static_path(@conn, "/vendor/ex_admin/jquery.min.js")
script type="text/javascript" src=Routes.static_path(@conn, "/vendor/ex_admin/ex_admin_common.js")
script type="text/javascript" src=Routes.static_path(@conn, "/vendor/ex_admin/admin_lte2.js")

script type="text/javascript" src=Routes.static_path(@conn, "/vendor/multiselect/jquery.multi-select.js")
script type="text/javascript" src=Routes.static_path(@conn, "/vendor/simditor/module.min.js")
script type="text/javascript" src=Routes.static_path(@conn, "/vendor/simditor/hotkeys.min.js")
script type="text/javascript" src=Routes.static_path(@conn, "/vendor/simditor/uploader.min.js")
script type="text/javascript" src=Routes.static_path(@conn, "/vendor/simditor/simditor.min.js")

= render VaeWeb.ComponentView, "algolia_credentials", conn: @conn
script type="text/javascript" src=Routes.static_path(@conn, "/js/admin.js")