link rel="apple-touch-icon" sizes="57x57" href=Routes.static_path(@conn, "/images/favicons/apple-icon-57x57.png")
link rel="apple-touch-icon" sizes="60x60" href=Routes.static_path(@conn, "/images/favicons/apple-icon-60x60.png")
link rel="apple-touch-icon" sizes="72x72" href=Routes.static_path(@conn, "/images/favicons/apple-icon-72x72.png")
link rel="apple-touch-icon" sizes="76x76" href=Routes.static_path(@conn, "/images/favicons/apple-icon-76x76.png")
link rel="apple-touch-icon" sizes="114x114" href=Routes.static_path(@conn, "/images/favicons/apple-icon-114x114.png")
link rel="apple-touch-icon" sizes="120x120" href=Routes.static_path(@conn, "/images/favicons/apple-icon-120x120.png")
link rel="apple-touch-icon" sizes="144x144" href=Routes.static_path(@conn, "/images/favicons/apple-icon-144x144.png")
link rel="apple-touch-icon" sizes="152x152" href=Routes.static_path(@conn, "/images/favicons/apple-icon-152x152.png")
link rel="apple-touch-icon" sizes="180x180" href=Routes.static_path(@conn, "/images/favicons/apple-icon-180x180.png")
link rel="icon" type="image/png" sizes="192x192"  href=Routes.static_path(@conn, "/images/favicons/android-icon-192x192.png")
link rel="icon" type="image/png" sizes="32x32" href=Routes.static_path(@conn, "/images/favicons/favicon-32x32.png")
link rel="icon" type="image/png" sizes="96x96" href=Routes.static_path(@conn, "/images/favicons/favicon-96x96.png")
link rel="icon" type="image/png" sizes="16x16" href=Routes.static_path(@conn, "/images/favicons/favicon-16x16.png")
link rel="icon" type="image/x-icon" href=Routes.static_path(@conn, "/images/favicons/favicon.ico")
link rel="manifest" href=Routes.static_path(@conn, "/images/favicons/manifest.json")
meta name="msapplication-TileColor" content="#ffffff"
meta name="msapplication-TileImage" content=Routes.static_path(@conn, "/images/favicons/ms-icon-144x144.png")
meta name="theme-color" content="#ffffff"

link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
link rel="stylesheet" href=Routes.static_path(@conn, "/vendor/ex_admin/admin_lte2.css")
link rel="stylesheet" href=Routes.static_path(@conn, "/vendor/simditor/simditor.css")
link rel="stylesheet" href=Routes.static_path(@conn, "/vendor/multiselect/multi-select.dist.css")
link rel="stylesheet" href=Routes.static_path(@conn, "/css/admin.css")

script type="text/javascript" src=Routes.static_path(@conn, "/vendor/ex_admin/jquery.min.js")
script type="text/javascript" src=Routes.static_path(@conn, "/vendor/ex_admin/ex_admin_common.js")
script type="text/javascript" src=Routes.static_path(@conn, "/vendor/ex_admin/admin_lte2.js")

script type="text/javascript" src=Routes.static_path(@conn, "/vendor/multiselect/jquery.multi-select.js")
script type="text/javascript" src=Routes.static_path(@conn, "/vendor/simditor/module.min.js")
script type="text/javascript" src=Routes.static_path(@conn, "/vendor/simditor/hotkeys.min.js")
script type="text/javascript" src=Routes.static_path(@conn, "/vendor/simditor/uploader.min.js")
script type="text/javascript" src=Routes.static_path(@conn, "/vendor/simditor/simditor.min.js")

link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css"
script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"

script type="text/javascript" src=Routes.static_path(@conn, "/js/admin.js")