link href=Routes.static_path(@conn, "/css/simditor.css") rel="stylesheet"
link href=Routes.static_path(@conn, "/css/multi-select.dist.css") rel="stylesheet"
script type="text/javascript" src=Routes.static_path(@conn, "/js/jquery.multi-select.js")
/ script type="text/javascript" src=Routes.static_path(@conn, "/vendor/simditor/jquery.min.js")
script type="text/javascript" src=Routes.static_path(@conn, "/js/module.min.js")
script type="text/javascript" src=Routes.static_path(@conn, "/js/hotkeys.min.js")
script type="text/javascript" src=Routes.static_path(@conn, "/js/uploader.min.js")
script type="text/javascript" src=Routes.static_path(@conn, "/js/simditor.min.js")

link href=Routes.static_path(@conn, "/css/admin.css") rel="stylesheet"
script src=Routes.static_path(@conn, "/js/admin.js")