link href="/css/simditor.css" rel="stylesheet"
link href="/css/multi-select.dist.css" rel="stylesheet"
script type="text/javascript" src="/js/jquery.multi-select.js"

/ script type="text/javascript" src="/vendor/simditor/jquery.min.js"
script type="text/javascript" src="/js/module.min.js"
script type="text/javascript" src="/js/hotkeys.min.js"
script type="text/javascript" src="/js/uploader.min.js"
script type="text/javascript" src="/js/simditor.min.js"

link href="/css/admin.css" rel="stylesheet"
script type="text/javascript" src="/js/admin.js"