.button {
  &.is-transparent {
    background: transparent;
    border: none;
    padding: 0;
    height: auto;
    line-height: 2;

    &:hover {
      text-decoration: underline;
    }
  }
  &.is-togglable:not(.active) {
    background: transparent;
    color: initial;

    &:hover {
      border: thin solid;
    }
  }
}