.cookies.notification {
  background: no-repeat #feffd5 top right url("/images/cookie.jpg");
  color: #947600;
  border-radius: 0;
  margin-bottom: 0;
  // +from($tablet) {
  //   line-height: 36px;
  // }

  @media print {
    display: none;
  }
}
