input.input {
  &.is-xlarge {
    @extend .is-large;
    padding: 2.5rem;

    .control.has-icons-left & {
      padding-left: 4rem;
    }

  }
}

.control.has-icons-left .icon.is-left.is-xlarge {
  margin-left: 1rem;
  height: 100%;
  width: 2rem;
}

form {
  &.toggler {
    ul li {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
    input {
      &[type=checkbox] {
        display: none;
        visibility: hidden;
        &:not(:checked) ~ label.button.is-togglable {
          background: transparent;
          color: initial;
          &:hover {
            background: rgba(black, 0.1);
          }
        }
      }
    }
  }

  &.is-togglable {
    .is-readonly-mode {

    }
    .is-edit-mode {
      display: none;
    }
    &.is-edit {
      .is-readonly-mode {
        display: none;
      }
      .is-edit-mode {
        display: block;
      }

    }
  }
}

.fake-input {
  @extend .input;
}

.fake-input, input.input[readonly] {
  // padding-left: 0;
  &, &:focus {
    border: none;
    box-shadow: none;
  }
}
