// Bootstrap override
.form-check-input {
  margin-top: 0.6rem;
}

.form-control {
  &.form-highlight {
    background-color: rgba($yellow, 0.2);
  }

  &.form-control-avril {
    min-height: 3.5rem;
    border-color: transparent;
  }
}