body,
html {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  @include firefox-printable();
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: $dm-primary-light-grey;

  .content {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  @include firefox-printable();
}

.row {
  @include firefox-printable();
}

footer,
header,
main {
  flex-shrink: 0;
}

// mark {
//   color: inherit;
//   position: relative;
//   padding: 0;
//   text-decoration: none;
//   background: linear-gradient(180deg, transparent calc(100% - 6px), $dm-primary-green calc(100% - 6px));
// }

// /* Delegator #show*/
// $header-height: 5rem;

// .step-title:before {
//   display: block;
//   content: " ";
//   margin-top: -$header-height;
//   height: $header-height;
//   visibility: hidden;
// }

// .brand-icon {
//   width: 2rem;
//   height: 2rem;
//   background-color: $brand-primary;
//   fill: white;
//   border-radius: 50%;
// }

// .autopromo {
//   margin: 3rem;
//   padding: 2rem;
//   text-align: center;
//   border: 1px solid $brand-primary;
//   border-radius: 2px;
// }

// Bootstrap fixes

select.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  position: relative;
  .uncontainer {
    position: absolute;
    width: 100vw;
    min-height: 10px;
    @include make-uncontainer-responsive();
  }
}
