nav.navbar {

  &.has-no-content {
    justify-content: center;
    .navbar-menu {
      display: none;
    }
  }

  @include tablet {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .navbar-brand {
    .navbar-item {
      img {
        max-height: none;
        height: 2.5rem;
      }
    }
  }

  .navbar-dropdown {
    width: 200px;
  }

  .permanent-burger {
    @include hamburger($navbar-height);
    background: none;
    border: none;
    width: auto;
    padding-left: 2rem;
    padding-right: 6px;
    font-size: initial;
    line-height: 3.25rem;
    &:hover {
      background: none;
    }
    span {
      left: 6px;
    }
  }

  .screen-accessibility-helper {
    position: absolute;
    top: -1000em;
    background: #2E5266;
    color: #fff;

    &:focus {
      left: 6px;
      top: 25px;
      height: auto;
      width: auto;
      display: block;
      font-weight: 600;
      padding: 15px 23px 14px;
      z-index: 100000;
      line-height: normal;
      text-decoration: none;
      outline: 1px solid #4D90FE;
      -webkit-box-shadow: 0px 0px 5px  #4D90FE;
      box-shadow: 0px 0px 5px  #4D90FE;
    }
  }
}