@media print {
  .is-hidden-print {
    display: none !important;
  }

  .is-fullwidth-print {
    width: 100% !important;
    margin: 0 !important;
  }

  nav.navbar {
    margin-bottom: 60px;
    height: 0;
    min-height: 0;
    // position: relative;
    .navbar-brand {
      a.navbar-item {
        width: 100%;
      }
      img {
        height: 80px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
      }
    }
    .navbar-burger {
      display: none;
    }
  }

  body.landing-page {
    section.section {
      padding: 0;
      .button.is-back {
        display: none;
      }
      .column.content {
        width: 100%;
        margin: 0;
      }
    }
  }

  footer.footer {
    display: none;
  }

  button.is-print {
    display: none;
  }

  .card {
    position: relative;
    display: inline-block;
    page-break-inside: avoid;
    page-break-before: auto;
    page-break-after: auto;
    break-inside: avoid;
  }

  .columns {
    .column.is-12-print {
      position: relative;
      width: 100%;
      display: block !important;
    }
  }

}
