@import 'columns';
@import 'buttons';
@import 'top-notifications';
@import 'footer';
@import 'form';
@import 'navbar';
@import 'print';

.notification {
  &.is-hero {
    padding: 2rem;
    @include tablet {
      padding: 5rem;
    }
  }
}

.title.is-1 {
  @include mobile {
    font-size: 2.2rem;
  }
}