@import 'section';
@import 'buttons';
@import 'top-notifications';
@import 'footer';
@import 'navbar';

.notification {
  &.is-hero {
    padding: 5rem;
  }
}

span.tag.is-highlighted {
  position: relative;
  display: inline-block;
  z-index: 0;
  background: none;
  padding: 0;
  font-weight: bold;
  color: palette(blue, title);
  font-family: $title-family;
  // font-size: 0.8rem;

  &:after {
    position: absolute;
    bottom: 0.4em;
    left: 0;
    right: 0;
    height: 0.75em;
    content: '';
    background: palette(yellow, background);
    z-index: -1;
  }
}