$ic-font-path:        "../fonts" !default;
$ic-font-size-base:   14px !default;
$ic-css-prefix:       ic-icon !default;
$ic-background-color: #eee !default;
$ic-li-width:         (30em / 14) !default;
$ic-padding-width:    (1em/3) !default;
