/*------------------------
  font icons
-------------------------*/

.ic-icon.ic-crosshair:before {
  content: "\ea02";
}
.ic-icon.ic-crosshair {
  padding-right: 1px;
  padding-bottom: 1px;
}

.ic-icon.ic-book-08:before {
  content: "\ea03";
}

.ic-icon.ic-time-clock:before {
  content: "\ea04";
}

.ic-icon.ic-tail-right:before {
  content: "\ea05";
}

.ic-icon.ic-zoom-bold:before {
  content: "\ea06";
}

.ic-icon.ic-zoom-split:before {
  content: "\ea07";
}

.ic-icon.ic-slide-left:before {
  content: "\ea08";
}

.ic-icon.ic-strong-up:before {
  content: "\ea09";
}

.ic-icon.ic-simple-remove:before {
  content: "\ea0a";
}

.ic-icon.ic-simple-remove-2:before {
  content: "\ea0b";
}

.ic-icon.ic-minimal-down:before {
  content: "\ea0c";
}

.ic-icon.ic-small-triangle-right:before {
  content: "\ea0d";
}

.ic-icon.ic-small-triangle-down:before {
  content: "\ea0e";
}

.ic-icon.ic-tail-left:before {
  content: "\ea0f";
}

.ic-icon.ic-tail-right-2:before {
  content: "\ea10";
}

.ic-icon.ic-check-curve:before {
  content: "\ea11";
}
