main.coherence {
  background: $white;

  &, > .container-fluid, > .container-fluid > .row {
    min-height: 100vh;
  }

  .btn-absolute.btn-history-back {
    margin: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}