form.dm-search-box {
  @include media-breakpoint-down(sm) {
    border-bottom: 1px solid #E0E0E0;
  }
  @include media-breakpoint-up(md) {
    border: none;
  }
  margin-top: 2em;

  .input-group.suggest .form-control {
    @include media-breakpoint-down(sm) {
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .input-group.geolocation {
    @include media-breakpoint-up(md) {
      width: 50%;
    }

    .form-control {
      @include media-breakpoint-up(md) {
        border-left: none;
        border-radius: 0;
      }
      @include media-breakpoint-down(sm) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  .input-group .form-control {
    border: none;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    min-height: 85px;
    padding-top: 28px;
    padding-bottom: 28px;
    @include media-breakpoint-up(md) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: 0 4px 4px 0 rgba(0,0,0,0.07);
      padding-left: 25px;
      padding-right: 25px;
    }
    @include media-breakpoint-down(sm) {
      box-shadow: 0 4px 4px 0 rgba(0,0,0,0.07);
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .btn[type="submit"] {
    border: none;
    border-radius: 4px;
    @include media-breakpoint-up(md) {
      border: 1px solid #E0E0E0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;
      box-shadow: 0 4px 4px 0 rgba(0,0,0,0.07);
      background-color: #FFFFFF;
    }
    @include media-breakpoint-down(sm) {
      background-color: transparent;
    }
    color: $dm-primary-blue;
    font-size: 40px;

    &:focus {
      outline: 1px solid #4D90FE;
      -webkit-box-shadow: 0 0 5px #4D90FE;
      box-shadow: 0 0 5px #4D90FE;
    }
  }
}